%h1= "Aliases for gene #{@gene.symbol}"

%table
  %tr
    %th
    %th
    %th
    %th Gene alias
    %th Source

  - @aliases.each do |a|
    %tr
      %td= link_to image_tag('view-icon.png', :alt => 'Show'), gene_alias_path(@gene,a)
      %td= link_to image_tag('edit-icon.png', :alt => 'Edit'), edit_gene_alias_path(@gene,a)
      %td= link_to image_tag('delete-icon.png', :alt => 'Delete'), gene_alias_path(@gene,a), :confirm => 'Are you sure?', :method => :delete
      %td= a.gene_alias
      %td= a.source

%br

= link_to 'New Alias', new_gene_alias_path(@gene)
\|
= link_to 'Back to gene', @gene

