= form_for([@gene,@feature]) do |f|
  -if @feature.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feature.errors.count, "error")} prohibited this feature from being saved:"
      %ul
        - @feature.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :gene_id
  = f.hidden_field :user_id

  %table
    %tr
      .field
      %td= f.label :topic_id
      %td= f.select :topic_id, Topic.all_for_select
    %tr
      %td
      %td#topic_desc= html_text(@feature.topic ? @feature.topic.description : nil)
    %tr
      .field
      %td= f.label :pubmed
      %td= f.text_field :pubmed, :size => 12
    %tr
      .field
      %td= f.label :author
      %td= f.text_field :author, :size => 80
    %tr
      .field
      %td= f.label :url
      %td= f.url_field :url, :size => 80
    %tr
      .field
      %td= f.label :comment
      %td= f.text_area :comment, :cols => 80
    %tr
      .field
      %td= f.label :rating
      %td= f.select 'rating', Feature.all_ratings

  %br
  .actions
    = f.submit 'Save Feature'
