= form_for([@gene,@gene.features.build]) do |f|
  = f.hidden_field :gene_id

  %table
    %tr
      .field
      %td= f.label :topic_id
      %td= f.select :topic_id, Topic.all_for_select
    %tr
      .field
      %td= f.label :url
      %td= f.url_field :url
    %tr
      .field
      %td= f.label :pubmed
      %td= f.number_field :pubmed
    %tr
      .field
      %td= f.label :comment
      %td= f.text_area :comment
    %tr
      .field
      %td= f.label :rating
      %td= f.select 'rating', Feature.all_ratings

  %br
  .actions
    = f.submit 'Save Feature'
