%h1 Listing features

%table
  %tr
    %th Show
    %th Edit
    %th Delete
    %th Gene
    %th Topic
    %th Url
    %th Pubmed
    %th Author
    %th Comment
    %th Rating

  - @features.each do |feature|
    %tr
      %td= link_to 'Show', gene_feature_path(feature.gene_id,feature.id)
      %td= link_to 'Edit', edit_gene_feature_path(feature.gene_id,feature.id)
      %td= link_to 'Destroy', gene_feature_path(feature.gene_id,feature.id), :confirm => 'Are you sure?', :method => :delete
      %td= feature.gene_id
      %td= feature.topic_id
      %td= feature.url
      %td= feature.pubmed
      %td= feature.author
      %td= feature.comment
      %td= feature.rating

%br

= link_to 'New Feature', new_gene_feature_path(@gene_id)
