%p#notice= notice

%p
  %b Gene:
  = @feature.gene_id
%p
  %b Topic:
  = @feature.topic_id
%p
  %b Pubmed:
  = @feature.pubmed
%p
  %b Author:
  = @feature.author
%p
  %b Url:
  = @feature.url
%p
  %b Comment:
  = @feature.comment
%p
  %b Rating:
  = @feature.rating

= link_to 'Edit', edit_gene_feature_path(@feature.gene_id,@feature.id)
\|
= link_to 'Back', gene_features_path(@feature.gene_id)
