%p
  %b Gene:
  = @feature.gene.symbol
%p
  %b Topic:
  = @feature.topic.name
%p
  %b Pubmed:
  = link_to(@feature.pubmed, @feature.pubmed_url)
%p
  %b Author:
  = @feature.author
%p
  %b Url:
  = link_to(@feature.url, @feature.url)
%p
  %b Comment:
  = @feature.comment.html_safe
%p
  %b Rating:
  = @feature.rating

= link_to 'Edit', edit_gene_feature_path(@feature.gene_id,@feature.id)
\|
= link_to 'Back to gene', @gene
