= form_for @gene do |f|
  -if @gene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gene.errors.count, "error")} prohibited this gene from being saved:"
      %ul
        - @gene.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      .field
      %td= f.label :symbol
      %td= f.text_field :symbol
    %tr
      .field
      %td= f.label :long_name
      %td= f.text_field :long_name
    %tr
      .field
      %td= f.label :summary
      %td= f.text_area :summary
    %tr
      .field
      %td= f.label :assigned_to
      %td= f.number_field :assigned_to

  %br
  .actions
    = f.submit 'Save'
