= form_for @gene do |f|
  -if @gene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gene.errors.count, "error")} prohibited this gene from being saved:"
      %ul
        - @gene.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      .field
      %td= f.label :symbol
      %td= f.text_field :symbol
    %tr
      .field
      %td= f.label :long_name
      %td= f.text_field :long_name, :size => 80
    %tr
      .field
      %td= f.label :gene_info
      %td= f.text_area :gene_info, :cols => 80
    %tr
      .field
      %td= f.label :disease
      %td= f.select :disease, Disease.list_all
    %tr
      .field
      %td= f.label :summary
      %td= f.text_area :summary, :cols => 80
    %tr
      .field
      %td= f.label :decision
      %td= f.select :decision, Gene.all_decisions
    %tr
      .field
      %td= f.label :user_id
      %td= f.select :user_id, User.all_for_select

  %br
  .actions
    = f.submit 'Save'
