.criteria
  %h3 Search Criteria
  %p
    =form_tag(genes_path, :method => :get) do
      %p
        %b Gene:
        =text_field_tag('symbol', session[:q][:symbol])
      %p
        %b Disease:
        =hidden_field_tag('disease[]', '0')
        - Disease.list_all.each do |d|
          =check_box_tag('disease[]', d, session[:q][:disease].include?(d))
          =d
          &nbsp;&nbsp;
      %p
        %b Decision:
        =hidden_field_tag('decision[]', '0')
        - Gene.all_decisions.each do |d|
          =check_box_tag('decision[]', d, session[:q][:decision].include?(d))
          = d.empty? ? '(not unassigned)' : d
          &nbsp;&nbsp;
      %p
        %b Assigned to:
        =select_tag('user_id', options_for_select(User.all_for_select, session[:q][:user_id]), :include_blank => true)
      %p= submit_tag('Query')

%h1 Gene List

%table
  %tr
    %th= link_to 'Symbol', genes_path(:order => 'symbol')
    %th Aliases
    %th= link_to 'Long name', genes_path(:order => 'long_name')
    %th= link_to 'Disease', genes_path(:order => 'disease')
    %th= link_to 'Decision', genes_path(:order => 'decision')
    %th
      =link_to 'Score', genes_path(:order => 'score')
      %br
      =link_to '(Topics)', genes_path(:order => 'topic_count')
    %th Summary
    %th= link_to 'Assigned to', genes_path(:order => 'user_id')

  - @genes.each do |gene|
    %tr
      %td= link_to gene.symbol, gene
      %td= gene.gene_aliases
      %td= gene.long_name
      %td= gene.disease
      %td= gene.decision
      %td= sprintf("%.1f (%d)", gene.score, gene.topic_count)
      %td= short_text(gene.summary)
      %td= gene.assigned_to

%br

= link_to 'Add New Gene', new_gene_path
