%h1 Listing Genes

%table
  %tr
    %th{:colspan => 3}
    %th Symbol
    %th Aliases
    %th Long name
    %th Disease
    %th Topics<br>Covered
    %th Score
    %th Summary
    %th Assigned to

  - @genes.each do |gene|
    %tr
      %td= link_to image_tag('view-icon.png', :alt => 'Show'), gene
      %td= link_to image_tag('edit-icon.png', :alt => 'Edit'), edit_gene_path(gene)
      %td= link_to image_tag('delete-icon.png', :alt => 'Destroy'), gene, :confirm => 'Are you sure you want to delete this gene?', :method => :delete
      %td= gene.symbol
      %td= gene.gene_aliases
      %td= gene.long_name
      %td= gene.disease
      %td= gene.topic_count
      %td= "%.1f" % gene.score
      %td= short_text(gene.summary)
      %td= gene.assigned_to

%br

= link_to 'Add New Gene', new_gene_path
