%h1 Gene List

%table
  %tr
    %th{:colspan => 3}
    %th= link_to 'Symbol', genes_path(:order => 'symbol')
    %th Aliases
    %th= link_to 'Long name', genes_path(:order => 'long_name')
    %th= link_to 'Disease', genes_path(:order => 'disease')
    %th Score<br>(Topics)
    %th Summary
    %th= link_to 'Assigned to', genes_path(:order => 'assigned_to')

  - @genes.each do |gene|
    %tr
      %td= link_to image_tag('view-icon.png', :alt => 'Show'), gene
      %td= link_to image_tag('edit-icon.png', :alt => 'Edit'), edit_gene_path(gene)
      %td= link_to image_tag('delete-icon.png', :alt => 'Destroy'), gene, :confirm => 'Are you sure you want to delete this gene?', :method => :delete
      %td= gene.symbol
      %td= gene.gene_aliases
      %td= gene.long_name
      %td= gene.disease
      %td= sprintf("%.1f (%d)", gene.score, gene.topic_count)
      %td= short_text(gene.summary)
      %td= gene.assigned_to

%br

= link_to 'Add New Gene', new_gene_path
