%p
  %b Symbol:
  = @gene.symbol
%p
  %b
    = link_to 'Aliases:', gene_aliases_path(@gene)
  = @gene.gene_aliases
  %b
    = link_to 'Add', new_gene_alias_path(@gene)
%p
  %b Long name:
  = @gene.long_name
%p
  %b Disease:
  = @gene.disease
%p
  %b Summary:
  = html_text(@gene.summary)
%p
  %b Assigned to:
  = @gene.assigned_to
%p
  %b Topics Covered:
  = @gene.topic_count
%p
  %b Overall score:
  = "%.1f" % @gene.score

= link_to 'Edit this gene', edit_gene_path(@gene)
\|
= link_to 'Back to gene list', genes_path
- if @remote_user.is_admin
  \|
  = link_to 'Delete this gene', @gene, :method => :delete, :confirm => 'Are you sure?', :class => 'admin_task'

= render 'feature_table'

= render 'variant_table'

