%h1 List of Topics to Gather for each Gene

%table
  %tr
    %th{:colspan => 3}
    %th Name
    %th Description

  - @topics.each do |topic|
    %tr
      %td= link_to image_tag('view-icon.png', :alt => 'Show'), topic
      %td= link_to image_tag('edit-icon.png', :alt => 'Edit'), edit_topic_path(topic)
      %td= link_to image_tag('delete-icon.png', :alt => 'Destroy'), topic, :confirm => 'Are you sure you want to delete this topic?', :method => :delete
      %td= topic.name
      %td= topic.description

%br

= link_to 'New Topic', new_topic_path
