!!!
%html
  %head
    %title= @project_name
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body

  .page_hdr
    %table
      %tr
        %td#project_name= @project_name
        %td#nav_link
          %a{:href => genes_path } Genes
        %td#nav_link
          %a{:href => topics_path } Topics
        %td#nav_link
          %a{:href => users_path }  Users
        %td#remote_user= "You are logged in as #{@remote_user.fullname}"
    %hr
    %br

  .global_content
    %p#notice= notice
    = yield
