= form_for([@gene,@variant]) do |f|
  -if @variant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@variant.errors.count, "error")} prohibited this variant from being saved:"
      %ul
        - @variant.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :gene_id

  .field
    = f.label :key
    = f.text_field :key
  .field
    = f.label :function
    = f.text_field :function
  .field
    = f.label :interest
    = f.text_field :interest
  .field
    = f.label :nmi
    = f.text_field :nmi
  .field
    = f.label :validated
    = f.select :validated, Variant.all_validation_codes
  .field
    = f.label :dbsnp
    = f.text_field :dbsnp
  .field
    = f.label :freq
    = f.text_field :freq
  .field
    = f.label :freq_finn
    = f.text_field :freq_finn
  .field
    = f.label :source
    = f.text_field :source
  .actions
    = f.submit 'Save'
