%p
  %b Key:
  = @variant.genome
  = @variant.var_key
%p
  %b Genomic:
  = @variant.gdna
%p
  %b Function:
  = @variant.var_func
%p
  %b Interest:
  = @variant.interest
%p
  %b NMI:
  = @variant.nmi
%p
  %b Validation:
  = @variant.validation_status
%p
  %b dbSNP:
  = @variant.dbsnp
%p
  %b Freq:
  = @variant.freq
  (from
  = @varaint.freq_source
  )
%p
  %b Freq in Finns:
  = @variant.freq_finn
  (from
  = @varaint.freq_finn_source
  )
%p
  %b Source:
  = @variant.source

= link_to 'Edit', edit_gene_variant_path(@gene,@variant)
\|
= link_to 'Back to gene', @gene
